/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#verse {
  padding: 10px;
  border: 1px solid grey;
  height: 600px;
  overflow-y: auto;
  font-weight: 600;
  font-size: 12pt;
}
.dict {
  padding: 10px;
  border: 1px solid grey;
  height: 600px;
  overflow-y: auto;
  font-weight: 600;
  font-size: 12pt;
}
.rword {
  font-weight:bold;
  color:maroon;
  display:inline-block;
  padding: 5px;
  margin: 5px;
  background: lightpink;
}
::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: lightgray;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* color of the scroll thumb */
}